# Exclude specific large directories
node_modules/
ios/
.git/
.expo/

# Keep only what we need from assets
assets/*
!assets/saved_model/
assets/saved_model/*
!assets/saved_model/model.json
!assets/saved_model/group1-shard*of15.bin
